{{ partial "header.html" . }}

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-3 col-lg-3 sidebar">

			{{ partial "sidebar-content.html" . }}

			</div>
			<div class="col-sm-7 col-sm-offset-4 col-md-6 col-md-offset-3 col-lg-offset-3 content">

				{{ range first 100 .Data.Pages }}
				<div class="post">

					<div class="post-heading">
						<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
						<span>{{ .Date.Format .Site.Params.DateFormat }}{{ if .Params.author }} by {{ .Params.author }}{{ end }}</span>
					</div>

					{{ .Summary }}

					{{ if .Truncated }}
					<div class="read-more-link">
						<a href="{{ .RelPermalink }}">Read More…</a>
					</div>
					{{ end }}

				</div>
				{{ end }}

			</div>
			<div class="col-sm-1 col-md-3 col-md-4">

				{{ partial "sticky-social.html" . }}

			</div>
		</div>
	</div>

{{ partial "footer.html" . }}
