
	<div class="sidebar-content">

		<a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
		<p>{{ .Site.Params.sidebarDescription }}</p>

		{{ if .Site.Params.sidebarFreeText }}
		<div class="sidebar-freetext">
			<p>{{ .Site.Params.sidebarFreeText }}</p>
		</div>
		{{ end }}

		<ul class="sidebar-menus">
			{{ range .Site.Menus.main }}
				<li>&#187; <a href="{{.URL}}">{{ .Name }}</a> {{ .Post }}</li>
			{{end}}
		</ul>

	  <div class="sidebar-recent hidden-xs">
		<!--
			<p>Recent Posts:</p>
			<ul>
				{{ range first 5 .Site.Pages }}
				<li><a href="{{.Permalink}}">{{ .Title }}</a></li>
				{{ end }}
			</ul>
		-->
			<p>Tags:</p>
		    {{ if not (eq (len $.Site.Taxonomies.tags) 0) }}
    		{{ $fontUnit := "rem" }}
    		{{ $largestFontSize := 2.0 }}
    		{{ $largestFontSize := 2.5 }}
    		{{ $smallestFontSize := 1.0 }}
    		{{ $fontSpread := sub $largestFontSize $smallestFontSize }}
    		{{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
    		{{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
    		{{ $spread := sub $max $min }}
    		{{ $fontStep := div $fontSpread $spread }}
    <div id="tag-cloud">
			<ul id="all-tags">
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
            {{ $currentTagCount := len $taxonomy.Pages }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) }}
            {{ $count := len $taxonomy.Pages }}
            {{ $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) }}
            <!--Current font size: {{$currentFontSize}}-->
            <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" style="font-size:{{$currentFontSize}}{{$fontUnit}}">{{ $name }}</a>
        {{ end }}
				</div>
				{{ end }}
      </ul>
		</div>

		<p class="copyright">{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{now.Format "2006"}}. All rights reserved. {{end}}</p>


	</div>
