
/*
 *
 * Strange Case
 * ------------
 *
 * Built by ExchangeRate-API with Bootstrap - inspired by
 * Hyde (https://github.com/mdo/hyde) for Hugo.
 *
 *
 * CSS SECTIONS
 *
 * Defaults
 * Blog Content
 * Sidebar
 * Themes
 *
*/


/* DEFAULTS */


html, body {
	height: 100%
}
h1, h2, h3, h4 {
	font-family: Roboto, sans-serif;
}
p {
	font-family: Roboto, sans-serif;
	font-size: 1.2em;
}



/* BLOG CONTENT */


.content {
	padding-left: 5em;
}
@media (max-width: 768px) {
	.content {
		padding-left: 1em;
	}
}
.post {
	margin-bottom: 3em;
}
.post .post-heading {
	margin-bottom: 1em;
}
.post .post-heading h1 {
	margin-top: 1.4em;
}
.post h1 {
	font-size: 2.6em;
	margin-bottom: 0.2em;
	margin-top: 1em;
	font-weight: bold;
}
.post h2 {
	font-size: 1.8em;
	margin-bottom: 0.2em;
	margin-top: 1em;
	font-weight: bold;
}
.post .post-heading span {
	font-size:1.4em;
}

/* STICKY SOCIAL FLOATER */

.toc-wrapper {
    position: relative;
    margin-top: 47px
}

.toc-wrapper.pin-bottom {
    margin-top: 84px
}


/* SIDEBAR */


.sidebar {
	padding: 2em;
	font-size: 1.3em;
	text-align: left;
}
.sidebar .sidebar-content {
	width:85%;
	margin:0 auto;
}
.sidebar .sidebar-freetext {
	margin-top: 1.5em;
}
.sidebar .sidebar-menus {
	padding-left: 0;
	margin-left: 0;
	margin-top: 1.5em;
}
.sidebar .sidebar-menus li {
	list-style: none;
	font-size:1em;
}
.sidebar .sidebar-recent {
	margin-top: 1.5em;
}
.sidebar .sidebar-menus li a {
	text-decoration:underline;
}
@media (min-width: 768px) {
	.sidebar {
		top: 0;
		bottom: 0;
		left: 0;
		position: fixed;
	}
	.sidebar-content {
		bottom: 1em;
		left: 1em;
		right: 1em;
		position: absolute;
	}
	.sidebar .sidebar-content {
		width:75%;
		margin:0 auto;
	}
}
@media (max-width: 992px) {
	.sidebar {
		font-size: 1em;
	}
}
@media (max-width: 1200px) {
	.sidebar {
		font-size: 1.1em;
	}
}
.sidebar h1 {
	font-size: 1.8em;
	font-weight: bold;
	margin-bottom: 0;
}
.sidebar li {
	font-size: 0.8em;
}
p.copyright {
	font-size: 0.7em;
	border-top: 1px dotted #ccc;
	padding-top: 1em;
	margin-top: 2em;
	margin-bottom: 0.1em;
}
p.attr {
	margin-top: 0;
	font-size: 0.6em;
}


/* THEMES */


/* Gulf Racing Scheme */
.scheme-gulfracing .sidebar {
	background-color: #85B2D3;
	color: #444;
}
.scheme-gulf .sidebar h1 {
	color: #1C1C28;
}
.scheme-gulf .sidebar a {
	color: #444;
}
.scheme-gulf .content a {
	color: #E75E16;
}
.scheme-gulf .post .post-heading span {
	color: #9a9a9a;
}

/* YOUR SCHEME HERE */
/*.scheme-custom .sidebar {
	background-color: #85B2D3;
	color: #444;
}
.scheme-custom .sidebar h1 {
	color: #1C1C28;
}
.scheme-custom .sidebar a {
	color: #444;
}
.scheme-custom .content a {
	color: #E75E16;
}
.scheme-custom .post .post-heading span {
	color: #9a9a9a;
}*/

/*
 * The original Hyde theme uses Base16 for colour schemes so
 * we decided to also use this project. We picked different
 * colors though. We also used the Ocean and 80's palettes in
 * addition to the Default palette.
 *
 * Base16: (http://chriskempson.github.io/base16)
 *
*/

/* Dark Brown Scheme */
.scheme-darkbrown .sidebar {
	background-color: #2d2d2d;
	color: #f2f0ec;
}
.scheme-darkbrown .sidebar h1 {
	color: #99cc99;
}
.scheme-darkbrown .sidebar a {
	color: #99cc99;
}
.scheme-darkbrown .content a {
	color: #80ad80;
}
.scheme-darkbrown .post .post-heading span {
	color: #9a9a9a;
}

/* Light Brown Scheme */
.scheme-lightbrown .sidebar {
	background-color: #d3d0c8;
	color: #393939;
}
.scheme-lightbrown .sidebar h1 {
	color: #393939;
}
.scheme-lightbrown .sidebar a {
	color: #515151;
}
.scheme-lightbrown .content a {
	color: #393939;
}
.scheme-lightbrown .post .post-heading span {
	color: #9a9a9a;
}

/* Orange Scheme */
.scheme-orange .sidebar {
	background-color: #f99157;
	color: #f2f0ec;
}
.scheme-orange .sidebar h1 {
	color: #515151;
}
.scheme-orange .sidebar a {
	color: #747369;
}
.scheme-orange .content a {
	color: #393939;
}
.scheme-orange .post .post-heading span {
	color: #9a9a9a;
}

/* Green Scheme */
.scheme-green .sidebar {
	background-color: #a3be8c;
	color: #4f5b66;
}
.scheme-green .sidebar h1 {
	color: #2b303b;
}
.scheme-green .sidebar a {
	color: #eff1f5;
}
.scheme-green .content a {
	color: #2d2d2d;
}
.scheme-green .post .post-heading span {
	color: #9a9a9a;
}

/* Slate Scheme */
.scheme-slate .sidebar {
	background-color: #a7adba;
	color: #343d46;
}
.scheme-slate .sidebar h1 {
	color: #2b303b;
}
.scheme-slate .sidebar a {
	color: #bf616a;
}
.scheme-slate .content a {
	color: #65737e;
}
.scheme-slate .post .post-heading span {
	color: #9a9a9a;
}
